:root {
    --primary-grad: linear-gradient(135deg, #0d9488 0%, #2dd4bf 100%);
    --accent-teal: #0d9488;
}

.brand-title{
    color: var(--accent-teal) !important;
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

[data-bs-theme="light"] .text-white {
    color: #212529 !important;
}

[data-bs-theme="light"] .navbar {
    background-color: #f8f9fa !important;
    border-bottom: 1px solid #dee2e6;
}

[data-bs-theme="light"] .nav-link {
    color: #000 !important;
}


#userProfileOffcanvas {
    width: 280px !important; /* Forces a smaller, sleeker profile layout */
}


[data-bs-theme="light"] #userProfileOffcanvas h5,
[data-bs-theme="light"] #userProfileOffcanvas h6 {
    color: #212529 !important;
}

[data-bs-theme="dark"] #userProfileOffcanvas h5,
[data-bs-theme="dark"] #userProfileOffcanvas h6 {
    color: #ffffff !important;
}